<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img
                  src="./assets/images/corosal5.jpeg"
                  alt="Sample photo"
                  class="img-fluid"
                  style="width:100%;height:100%;    "
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Login</h3>
  
                  <form class="px-md-2" method="post" #loginform="ngForm">
                    <div class="form-outline mb-4">
                      <input type="text" #username="ngModel"required  [class.is-invalid]="username.invalid && username.touched" name="username" ngModel class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example90">User Name</label>
                    </div>
    
                    <div class="form-outline mb-4">
                      <input type="Password" #password="ngModel"required  [class.is-invalid]="password.invalid && password.touched" name="password" ngModel class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example99">Password</label>
                    </div>
                    <!-- <div class="form-check  mb-3">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        
                        id="maleGender"
                        value="option2"
                      />
                      <label class="form-check-label" for="RememberMe">Remember me</label>
                    </div> -->
  
    
                    
                    <div class="d-flex justify-content-end pt-3">
                      <button (click)="register()" type="button" class="btn btn-warning btn-lg ms-2" style="background-color: black;">register</button>
                    
                     
                      <button (click)="login(username.value,password.value)" type="button" class="btn btn-warning btn-lg ms-2" style="background-color: black;">Login</button>
                    </div>


                  </form>   
  
                  
    
  
                  

  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>